
body {
    font-family: 'Nunito Sans', sans-serif;
}
   h2{
    margin-bottom: 50px;
    margin-top: 50px;
   }



div.presentation{ 
    margin-left:0;
    margin-right: 0;
   
    text-align: left;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:rgb(252, 252, 246);
    
  
};
li{
  margin: 10px;
}

iframe{
    border-radius: 25px;
  
}
.sites{
    display: flex;
    justify-content: space-around;
}
footer{
  display: flex;
  justify-content: space-around;
}